openapi: 3.1.0
info:
  title: CineConnect API
  version: 1.0.0
  description: |
    Source-first contract for CineConnect. Paths are added by vertical slice and
    must pass backend response-contract tests before they are marked complete.
servers:
  - url: https://cine.nalexustechnologies.com/api/v1
    description: Production
  - url: http://127.0.0.1:5000/api/v1
    description: Local development
tags:
  - name: Health
  - name: App
  - name: Authentication
  - name: Roles
  - name: Files
  - name: KYC
  - name: Admin Verification
  - name: Profiles
  - name: Marketplace
  - name: Projects
  - name: Director
  - name: Bookings
  - name: Contracts
  - name: Legal
  - name: Finance
  - name: Operations
  - name: Safety
  - name: Conversations
  - name: Agency
  - name: Brand
  - name: Model
  - name: Distribution
  - name: Reviews
  - name: Moderation
  - name: Disputes
  - name: Support
  - name: Announcements
  - name: Analytics
  - name: Insurance
  - name: CinePlanner
security:
  - bearerAuth: []
paths:
  /health/live:
    get:
      tags: [Health]
      operationId: getLiveness
      security: []
      responses:
        "200":
          description: The API process is running.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthEnvelope"
  /health/ready:
    get:
      tags: [Health]
      operationId: getReadiness
      security: []
      responses:
        "200":
          description: Required dependencies are available.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthEnvelope"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /director/dashboard:
    get:
      tags: [Director]
      operationId: getDirectorDashboard
      summary: Director/Producer dashboard aggregate
      responses:
        "200":
          description: Database-backed dashboard summary for the authenticated Director/Producer.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectorDashboardEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /director/schedule:
    get:
      tags: [Director]
      operationId: getDirectorSchedule
      summary: Director/Producer schedule aggregate
      parameters:
        - in: query
          name: project_id
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Database-backed production schedule, risk watch, and call-sheet summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectorScheduleEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /director/discovery:
    get:
      tags: [Director]
      operationId: getDirectorDiscovery
      summary: Director/Producer provider-specific discovery feed
      parameters:
        - in: query
          name: category
          required: false
          schema:
            type: string
        - in: query
          name: q
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Database-backed discovery cards for non-talent provider records.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectorDiscoveryEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /director/discovery/{kind}/{public_id}:
    get:
      tags: [Director]
      operationId: getDirectorDiscoveryItem
      summary: Director/Producer provider-specific discovery detail
      parameters:
        - in: path
          name: kind
          required: true
          schema:
            type: string
            enum: [actor, model, location, equipment, agency, distribution]
        - in: path
          name: public_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Rich detail DTO for a provider-specific Director discovery record.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectorDiscoveryItemEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /app/bootstrap:
    get:
      tags: [App]
      operationId: getAppBootstrap
      security: []
      parameters:
        - in: header
          name: X-App-Platform
          schema:
            type: string
            enum: [android, ios, web, admin_web]
        - in: header
          name: X-App-Version
          schema:
            type: string
      responses:
        "200":
          description: Public startup configuration and version policy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapEnvelope"
  /app/public-config:
    get:
      tags: [App]
      operationId: getPublicConfig
      security: []
      responses:
        "200":
          description: Public product configuration.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicConfigEnvelope"
  /roles:
    get:
      tags: [Roles]
      operationId: listRoles
      security: []
      responses:
        "200":
          description: Active product roles in deterministic display order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleListEnvelope"
  /auth/register:
    post:
      tags: [Authentication]
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Account created; verification may still be required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthEnvelope"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
  /auth/login:
    post:
      tags: [Authentication]
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authenticated session.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /auth/refresh:
    post:
      tags: [Authentication]
      operationId: refreshSession
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Rotated access and refresh tokens.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/logout:
    post:
      tags: [Authentication]
      operationId: logout
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Session revocation result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogoutEnvelope"
  /auth/password/forgot:
    post:
      tags: [Authentication]
      operationId: forgotPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Accepted regardless of whether the identity exists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageEnvelope"
        "429":
          $ref: "#/components/responses/RateLimited"
  /auth/password/reset:
    post:
      tags: [Authentication]
      operationId: resetPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [token, new_password]
              properties:
                token:
                  type: string
                new_password:
                  type: string
                  minLength: 10
                  maxLength: 128
      responses:
        "200":
          description: Password changed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasswordResetEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
  /me:
    get:
      tags: [Authentication]
      operationId: getCurrentUser
      responses:
        "200":
          description: Current authenticated user summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me/roles:
    get:
      tags: [Roles]
      operationId: listMyRoles
      responses:
        "200":
          description: Active roles granted to the current user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserRoleListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Roles]
      operationId: addMyRole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleMutationRequest"
      responses:
        "201":
          description: Role granted or reactivated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserRoleListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
  /me/primary-role:
    patch:
      tags: [Roles]
      operationId: setPrimaryRole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleMutationRequest"
      responses:
        "200":
          description: Primary role changed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /uploads/presign:
    post:
      tags: [Files]
      operationId: presignUpload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadPresignRequest"
      responses:
        "201":
          description: Short-lived local-disk upload ticket. Send bytes to the returned PUT URL before completing the upload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadTicketEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
  /uploads/{upload_session_id}/binary:
    put:
      tags: [Files]
      operationId: uploadBinary
      parameters:
        - in: path
          name: upload_session_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/webp:
            schema:
              type: string
              format: binary
          application/pdf:
            schema:
              type: string
              format: binary
          video/mp4:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: File bytes stored and server-computed size/checksum returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadBinaryEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Upload session not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "410":
          description: Upload session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "413":
          description: File exceeds the session size limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          $ref: "#/components/responses/RateLimited"
  /uploads/{upload_session_id}/complete:
    post:
      tags: [Files]
      operationId: completeUpload
      parameters:
        - in: path
          name: upload_session_id
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Previously stored upload bytes completed and file queued for scan/processing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileAssetEnvelope"
        "200":
          description: Idempotent completion response for an already completed session.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileAssetEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "410":
          description: Upload session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Upload bytes were not sent before completion.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          $ref: "#/components/responses/ValidationError"
  /files/{file_id}/download:
    get:
      tags: [Files]
      operationId: downloadFile
      parameters:
        - in: path
          name: file_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Owner-only file download.
          headers:
            Cache-Control:
              schema:
                type: string
              description: private, max-age=0
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: File not found for the authenticated owner.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /kyc/submissions:
    post:
      tags: [KYC]
      operationId: createKycSubmission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KycSubmissionCreateRequest"
      responses:
        "201":
          description: Draft KYC submission created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KycSubmissionEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
  /kyc/submissions/{submission_id}/submit:
    post:
      tags: [KYC]
      operationId: submitKycSubmission
      parameters:
        - $ref: "#/components/parameters/SubmissionId"
      responses:
        "200":
          description: KYC submission moved to pending admin review.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KycSubmissionEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /kyc/submissions/{submission_id}/resubmit:
    post:
      tags: [KYC]
      operationId: resubmitKycSubmission
      parameters:
        - $ref: "#/components/parameters/SubmissionId"
      responses:
        "200":
          description: KYC submission resubmitted after corrections.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KycSubmissionEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /me/kyc:
    get:
      tags: [KYC]
      operationId: listMyKycSubmissions
      responses:
        "200":
          description: Current user's KYC submissions, newest first.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KycSubmissionListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/kyc/submissions:
    get:
      tags: [Admin Verification]
      operationId: listAdminKycSubmissions
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [draft, pending, approved, rejected, needs_resubmission]
            default: pending
      responses:
        "200":
          description: Admin verification queue. Fine-grained admin RBAC is still pending.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KycSubmissionListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /admin/kyc/submissions/{submission_id}:
    get:
      tags: [Admin Verification]
      operationId: getAdminKycSubmission
      parameters:
        - $ref: "#/components/parameters/SubmissionId"
      responses:
        "200":
          description: KYC submission detail for an authorized reviewer.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KycSubmissionEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /admin/kyc/submissions/{submission_id}/decision:
    post:
      tags: [Admin Verification]
      operationId: decideAdminKycSubmission
      parameters:
        - $ref: "#/components/parameters/SubmissionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KycDecisionRequest"
      responses:
        "200":
          description: Admin decision recorded and verification event written.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KycSubmissionEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /cities:
    get:
      tags: [Profiles]
      operationId: listCities
      security: []
      responses:
        "200":
          description: Active supported cities.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CityListEnvelope"
  /me/profile:
    get:
      tags: [Profiles]
      operationId: getMyProfile
      responses:
        "200":
          description: Current user's base profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [Profiles]
      operationId: updateMyProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserProfileUpdateRequest"
      responses:
        "200":
          description: Updated current user's base profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
  /talent/profile:
    get:
      tags: [Profiles]
      operationId: getTalentProfile
      responses:
        "200":
          description: Current user's actor/talent profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TalentProfileEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [Profiles]
      operationId: updateTalentProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TalentProfileUpdateRequest"
      responses:
        "200":
          description: Updated current user's actor/talent profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TalentProfileEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
  /portfolio:
    get:
      tags: [Marketplace]
      operationId: listPortfolioItems
      parameters:
        - in: query
          name: profile_type
          schema:
            type: string
            enum: [talent]
      responses:
        "200":
          description: Current user's portfolio items for the selected profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortfolioItemListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
    post:
      tags: [Marketplace]
      operationId: createPortfolioItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PortfolioItemCreateRequest"
      responses:
        "201":
          description: Portfolio item created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortfolioItemEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
  /portfolio/{portfolio_id}:
    patch:
      tags: [Marketplace]
      operationId: updatePortfolioItem
      parameters:
        - in: path
          name: portfolio_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PortfolioItemUpdateRequest"
      responses:
        "200":
          description: Portfolio item updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortfolioItemEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      tags: [Marketplace]
      operationId: deletePortfolioItem
      parameters:
        - in: path
          name: portfolio_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Portfolio item deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /skills:
    get:
      tags: [Projects]
      operationId: listSkills
      parameters:
        - in: query
          name: category
          schema:
            type: string
      responses:
        "200":
          description: Active skill catalog for project requirements and matching.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkillListEnvelope"
  /projects:
    get:
      tags: [Projects]
      operationId: listProjects
      responses:
        "200":
          description: Projects visible to the current user through active membership.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Projects]
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectCreateRequest"
      responses:
        "201":
          description: Project created with the caller as owner/member.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
  /projects/{project_id}:
    get:
      tags: [Projects]
      operationId: getProject
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Project detail with members and requirements.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Projects]
      operationId: updateProject
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectUpdateRequest"
      responses:
        "200":
          description: Project updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /projects/{project_id}/duplicate:
    post:
      tags: [Projects]
      operationId: duplicateProject
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                title:
                  type: string
      responses:
        "201":
          description: Project and its requirements duplicated as a draft.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /projects/{project_id}/members:
    get:
      tags: [Projects]
      operationId: listProjectMembers
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Active and inactive members for a visible project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectMemberListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /projects/{project_id}/room:
    get:
      tags: [Projects]
      operationId: getProjectRoom
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Project room aggregate with project, members, files, and room items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRoomEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /projects/{project_id}/room/items:
    post:
      tags: [Projects]
      operationId: createProjectRoomItem
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectRoomItemCreateRequest"
      responses:
        "201":
          description: Project room item created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRoomItemEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /projects/{project_id}/files:
    get:
      tags: [Projects]
      operationId: listProjectFiles
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Files linked to a visible project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectFileListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Projects]
      operationId: linkProjectFile
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectFileLinkRequest"
      responses:
        "201":
          description: Project file linked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectFileEnvelope"
        "200":
          description: Existing project file link updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectFileEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /projects/{project_id}/requirements:
    get:
      tags: [Projects]
      operationId: listProjectRequirements
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Requirements for a visible project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRequirementListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Projects]
      operationId: createProjectRequirement
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectRequirementCreateRequest"
      responses:
        "201":
          description: Requirement created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRequirementEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /requirements/{requirement_id}:
    patch:
      tags: [Projects]
      operationId: updateProjectRequirement
      parameters:
        - in: path
          name: requirement_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectRequirementUpdateRequest"
      responses:
        "200":
          description: Requirement updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRequirementEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /saved-searches:
    get:
      tags: [Marketplace]
      operationId: listSavedSearches
      responses:
        "200":
          description: Current user's saved marketplace searches.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedSearchListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Marketplace]
      operationId: createSavedSearch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SavedSearchCreateRequest"
      responses:
        "201":
          description: Saved search created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedSearchEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
  /saved-searches/{saved_search_id}:
    delete:
      tags: [Marketplace]
      operationId: deleteSavedSearch
      parameters:
        - in: path
          name: saved_search_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Saved search deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /shortlists:
    get:
      tags: [Marketplace]
      operationId: listShortlists
      responses:
        "200":
          description: Current user's shortlist boards.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShortlistListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Marketplace]
      operationId: createShortlist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShortlistCreateRequest"
      responses:
        "201":
          description: Shortlist board created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShortlistEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
  /shortlists/{shortlist_id}/items:
    post:
      tags: [Marketplace]
      operationId: addShortlistItem
      parameters:
        - in: path
          name: shortlist_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShortlistItemMutationRequest"
      responses:
        "201":
          description: Listing added to shortlist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShortlistItemEnvelope"
        "200":
          description: Existing shortlist item updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShortlistItemEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /shortlist-items/{shortlist_item_id}:
    patch:
      tags: [Marketplace]
      operationId: updateShortlistItem
      parameters:
        - in: path
          name: shortlist_item_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShortlistItemUpdateRequest"
      responses:
        "200":
          description: Shortlist item updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShortlistItemEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      tags: [Marketplace]
      operationId: deleteShortlistItem
      parameters:
        - in: path
          name: shortlist_item_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Shortlist item deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /marketplace/listings:
    get:
      tags: [Marketplace]
      operationId: listMarketplaceListings
      security: []
      parameters:
        - in: query
          name: type
          schema:
            type: string
        - in: query
          name: city
          schema:
            type: string
        - in: query
          name: q
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: per_page
          schema:
            type: integer
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: Public approved marketplace listings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketplaceListingListEnvelope"
    post:
      tags: [Marketplace]
      operationId: publishMarketplaceListing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketplaceListingPublishRequest"
      responses:
        "201":
          description: Listing published or updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketplaceListingEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
  /marketplace/listings/{listing_id}:
    get:
      tags: [Marketplace]
      operationId: getMarketplaceListing
      security: []
      parameters:
        - in: path
          name: listing_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Public approved listing detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketplaceListingEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"
  /marketplace/result-count:
    post:
      tags: [Marketplace]
      operationId: getMarketplaceResultCount
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketplaceResultCountRequest"
      responses:
        "200":
          description: Count of approved public listings matching filters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketplaceResultCountEnvelope"
        "422":
          $ref: "#/components/responses/ValidationError"
  /marketplace/facets:
    get:
      tags: [Marketplace]
      operationId: getMarketplaceFacets
      security: []
      responses:
        "200":
          description: Marketplace filter facets.
          content:
            application/json:
              schema:
            $ref: "#/components/schemas/MarketplaceFacetsEnvelope"
  /availability:
    get:
      tags: [Bookings]
      operationId: listAvailability
      parameters:
        - in: query
          name: resource_type
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
      responses:
        "200":
          description: Current user's availability entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailabilityListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Bookings]
      operationId: createAvailability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AvailabilityCreateRequest"
      responses:
        "201":
          description: Manual availability entry created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailabilityEntryEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
  /availability/{availability_id}:
    patch:
      tags: [Bookings]
      operationId: updateAvailability
      parameters:
        - in: path
          name: availability_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AvailabilityUpdateRequest"
      responses:
        "200":
          description: Manual availability entry updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailabilityEntryEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      tags: [Bookings]
      operationId: deleteAvailability
      parameters:
        - in: path
          name: availability_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Manual availability entry deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /availability/check:
    post:
      tags: [Bookings]
      operationId: checkAvailability
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AvailabilityCheckRequest"
      responses:
        "200":
          description: Availability result with conflicts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailabilityCheckEnvelope"
        "422":
          $ref: "#/components/responses/ValidationError"
  /bookings:
    get:
      tags: [Bookings]
      operationId: listBookings
      parameters:
        - in: query
          name: role
          schema:
            type: string
            enum: [requester, provider]
        - in: query
          name: status
          schema:
            type: string
      responses:
        "200":
          description: Bookings visible to the current participant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Bookings]
      operationId: createBooking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingCreateRequest"
      responses:
        "201":
          description: Booking draft created with participants and conversation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
  /talent/opportunities:
    get:
      tags: [Bookings]
      operationId: listTalentOpportunities
      responses:
        "200":
          description: Provider-side booking opportunities for the current talent user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /bookings/{booking_id}:
    get:
      tags: [Bookings]
      operationId: getBooking
      parameters:
        - in: path
          name: booking_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Booking detail visible to a participant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /bookings/{booking_id}/send:
    post:
      tags: [Bookings]
      operationId: sendBooking
      parameters:
        - in: path
          name: booking_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OfferCreateRequest"
      responses:
        "200":
          description: Draft booking sent with initial offer.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /bookings/{booking_id}/offers:
    post:
      tags: [Bookings]
      operationId: createBookingOffer
      parameters:
        - in: path
          name: booking_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OfferCreateRequest"
      responses:
        "201":
          description: Counter offer created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OfferEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
  /bookings/{booking_id}/reject:
    post:
      tags: [Bookings]
      operationId: rejectBooking
      parameters:
        - in: path
          name: booking_id
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        "200":
          description: Booking rejected.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
  /bookings/{booking_id}/cancel:
    post:
      tags: [Bookings]
      operationId: cancelBooking
      parameters:
        - in: path
          name: booking_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 3
      responses:
        "200":
          description: Booking cancelled and reserved availability released.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
  /offers/{offer_id}/accept:
    post:
      tags: [Bookings]
      operationId: acceptOffer
      parameters:
        - in: path
          name: offer_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Offer accepted; booking accepted and provider calendar locked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /negotiations:
    get:
      tags: [Bookings]
      operationId: listNegotiations
      responses:
        "200":
          description: Negotiations visible to the current user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NegotiationListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /negotiations/{negotiation_id}:
    get:
      tags: [Bookings]
      operationId: getNegotiation
      parameters:
        - in: path
          name: negotiation_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Negotiation detail with immutable rounds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NegotiationEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /contract-templates:
    get:
      tags: [Contracts]
      operationId: listContractTemplates
      security: []
      responses:
        "200":
          description: Published contract templates available for booking contracts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractTemplateListEnvelope"
  /contracts:
    get:
      tags: [Contracts]
      operationId: listContracts
      responses:
        "200":
          description: Contracts visible to the current contract party.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /bookings/{booking_id}/contracts:
    post:
      tags: [Contracts]
      operationId: generateBookingContract
      parameters:
        - in: path
          name: booking_id
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Accepted booking converted into a versioned contract draft.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /contracts/{contract_id}:
    get:
      tags: [Contracts]
      operationId: getContract
      parameters:
        - in: path
          name: contract_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Contract detail with parties, clauses, signatures, and addendums.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /contracts/{contract_id}/signatures:
    post:
      tags: [Contracts]
      operationId: signContract
      parameters:
        - in: path
          name: contract_id
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractSignatureRequest"
      responses:
        "200":
          description: Contract signed by the current party.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /contracts/{contract_id}/addendums:
    post:
      tags: [Contracts]
      operationId: createContractAddendum
      parameters:
        - in: path
          name: contract_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractAddendumRequest"
      responses:
        "201":
          description: Contract addendum requested and queued for legal review.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractAddendumEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /legal-reviews:
    post:
      tags: [Legal]
      operationId: requestLegalReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LegalReviewRequest"
      responses:
        "201":
          description: Legal review requested for a visible contract.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalReviewEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /legal/reviews:
    get:
      tags: [Legal]
      operationId: listLegalReviews
      responses:
        "200":
          description: Legal review queue for legal/admin roles.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalReviewListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /legal-reviews/{review_id}:
    get:
      tags: [Legal]
      operationId: getLegalReview
      parameters:
        - in: path
          name: review_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Legal review detail for requester or legal/admin roles.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalReviewEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /legal-reviews/{review_id}/decision:
    post:
      tags: [Legal]
      operationId: decideLegalReview
      parameters:
        - in: path
          name: review_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LegalReviewDecisionRequest"
      responses:
        "200":
          description: Legal review decision recorded with draft billing metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalReviewEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /payments/dashboard:
    get:
      tags: [Finance]
      operationId: getPaymentsDashboard
      responses:
        "200":
          description: Current user's payment schedules and ledger totals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsDashboardEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /payment-schedules:
    get:
      tags: [Finance]
      operationId: listPaymentSchedules
      parameters:
        - in: query
          name: booking_id
          schema:
            type: string
      responses:
        "200":
          description: Payment schedules visible to the booking payer/payee.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentScheduleListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /payment-schedules/{schedule_id}:
    get:
      tags: [Finance]
      operationId: getPaymentSchedule
      parameters:
        - in: path
          name: schedule_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Payment schedule detail with milestones and transactions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentScheduleEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /payment-proofs:
    post:
      tags: [Finance]
      operationId: submitPaymentProof
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentProofSubmitRequest"
      responses:
        "201":
          description: Sandbox manual/card payment proof submitted for finance review.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentProofEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
  /ledger:
    get:
      tags: [Finance]
      operationId: listLedgerEntries
      responses:
        "200":
          description: Current user's ledger entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /receipts/{receipt_id}:
    get:
      tags: [Finance]
      operationId: getReceipt
      parameters:
        - in: path
          name: receipt_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Receipt issued to the current user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /payout-accounts:
    get:
      tags: [Finance]
      operationId: listPayoutAccounts
      responses:
        "200":
          description: Current user's payout accounts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutAccountListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Finance]
      operationId: createPayoutAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayoutAccountCreateRequest"
      responses:
        "201":
          description: Sandbox payout account created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutAccountEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
  /admin/payment-proofs:
    get:
      tags: [Finance]
      operationId: adminListPaymentProofs
      responses:
        "200":
          description: Finance-admin payment proof review queue.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentProofListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /admin/payment-proofs/{proof_id}:
    get:
      tags: [Finance]
      operationId: adminGetPaymentProof
      parameters:
        - in: path
          name: proof_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Finance-admin payment proof review detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminPaymentProofEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /admin/payment-proofs/{proof_id}/decision:
    post:
      tags: [Finance]
      operationId: adminDecidePaymentProof
      parameters:
        - in: path
          name: proof_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentProofDecisionRequest"
      responses:
        "200":
          description: Finance decision recorded; approval posts ledger and receipt.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentProofDecisionEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /location-properties:
    get:
      tags: [Operations]
      operationId: listLocationProperties
      responses:
        "200":
          description: Current owner's location properties.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationPropertyListEnvelope"
    post:
      tags: [Operations]
      operationId: createLocationProperty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Location property created without exposing private address.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationPropertyEnvelope"
  /location-properties/{property_id}/spaces:
    post:
      tags: [Operations]
      operationId: createLocationSpace
      parameters:
        - in: path
          name: property_id
          required: true
          schema: {type: string}
      responses:
        "201":
          description: Location space created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
  /location-properties/{property_id}/pricing:
    post:
      tags: [Operations]
      operationId: createLocationPricing
      parameters:
        - in: path
          name: property_id
          required: true
          schema: {type: string}
      responses:
        "201":
          description: Location pricing created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
  /location-properties/{property_id}/rules:
    post:
      tags: [Operations]
      operationId: createLocationRule
      parameters:
        - in: path
          name: property_id
          required: true
          schema: {type: string}
      responses:
        "201":
          description: Location rule created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
  /location-inspections:
    post:
      tags: [Operations]
      operationId: createLocationInspection
      responses:
        "201":
          description: Location check-in/out inspection created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationInspectionEnvelope"
  /location-inspections/{inspection_id}/items:
    post:
      tags: [Operations]
      operationId: addLocationInspectionItem
      parameters:
        - in: path
          name: inspection_id
          required: true
          schema: {type: string}
      responses:
        "201":
          description: Location inspection item captured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationInspectionEnvelope"
  /location-inspections/{inspection_id}/confirm:
    post:
      tags: [Operations]
      operationId: confirmLocationInspection
      parameters:
        - in: path
          name: inspection_id
          required: true
          schema: {type: string}
      responses:
        "200":
          description: Location inspection signed by owner or renter.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationInspectionEnvelope"
  /damage-claims:
    post:
      tags: [Operations]
      operationId: createDamageClaim
      responses:
        "201":
          description: Damage claim created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DamageClaimEnvelope"
  /damage-claims/{claim_id}/evidence:
    post:
      tags: [Operations]
      operationId: addDamageClaimEvidence
      parameters:
        - in: path
          name: claim_id
          required: true
          schema: {type: string}
      responses:
        "201":
          description: Damage claim evidence attached.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DamageClaimEnvelope"
  /equipment/provider-profile:
    get:
      tags: [Operations]
      operationId: getEquipmentProviderProfile
      responses:
        "200":
          description: Current user's equipment provider profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
    patch:
      tags: [Operations]
      operationId: upsertEquipmentProviderProfile
      responses:
        "200":
          description: Equipment provider profile upserted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
  /equipment/items:
    get:
      tags: [Operations]
      operationId: listEquipmentItems
      responses:
        "200":
          description: Current provider's equipment items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
    post:
      tags: [Operations]
      operationId: createEquipmentItem
      responses:
        "201":
          description: Equipment item created with private serial tokenized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
  /equipment/packages:
    post:
      tags: [Operations]
      operationId: createEquipmentPackage
      responses:
        "201":
          description: Equipment package created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
  /equipment/packages/{package_id}/items:
    post:
      tags: [Operations]
      operationId: addEquipmentPackageItem
      parameters:
        - in: path
          name: package_id
          required: true
          schema: {type: string}
      responses:
        "201":
          description: Equipment item added to package.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
  /equipment/terms:
    post:
      tags: [Operations]
      operationId: createEquipmentTerm
      responses:
        "201":
          description: Equipment term created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
  /equipment-inspections:
    post:
      tags: [Operations]
      operationId: createEquipmentInspection
      responses:
        "201":
          description: Equipment handover/return inspection created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EquipmentInspectionEnvelope"
  /equipment-inspections/{inspection_id}/items:
    post:
      tags: [Operations]
      operationId: addEquipmentInspectionItem
      parameters:
        - in: path
          name: inspection_id
          required: true
          schema: {type: string}
      responses:
        "201":
          description: Equipment inspection item captured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EquipmentInspectionEnvelope"
  /equipment-inspections/{inspection_id}/confirm:
    post:
      tags: [Operations]
      operationId: confirmEquipmentInspection
      parameters:
        - in: path
          name: inspection_id
          required: true
          schema: {type: string}
      responses:
        "200":
          description: Equipment inspection signed by provider or renter.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EquipmentInspectionEnvelope"
  /safety-checks:
    post:
      tags: [Safety]
      operationId: createSafetyCheck
      responses:
        "201":
          description: Safety checklist created for a project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafetyCheckEnvelope"
  /safety-checks/{check_id}/items:
    post:
      tags: [Safety]
      operationId: createSafetyCheckItem
      parameters:
        - in: path
          name: check_id
          required: true
          schema: {type: string}
      responses:
        "201":
          description: Safety checklist item created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafetyCheckEnvelope"
  /incidents:
    post:
      tags: [Safety]
      operationId: createIncident
      responses:
        "201":
          description: Incident report created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IncidentEnvelope"
  /safety-check-ins:
    post:
      tags: [Safety]
      operationId: createSafetyCheckIn
      responses:
        "201":
          description: Safety check-in scheduled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafetyCheckInEnvelope"
  /safety-check-ins/{check_in_id}/complete:
    post:
      tags: [Safety]
      operationId: completeSafetyCheckIn
      parameters:
        - in: path
          name: check_in_id
          required: true
          schema: {type: string}
      responses:
        "200":
          description: Safety check-in completed with private coordinates tokenized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafetyCheckInEnvelope"
  /conversations/{conversation_id}/messages:
    get:
      tags: [Conversations]
      operationId: listConversationMessages
      parameters:
        - in: path
          name: conversation_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Conversation with paginated-message foundation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Conversations]
      operationId: createConversationMessage
      parameters:
        - in: path
          name: conversation_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageCreateRequest"
      responses:
        "201":
          description: Message created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
  /messages/{message_id}/pin:
    post:
      tags: [Conversations]
      operationId: pinMessage
      parameters:
        - in: path
          name: message_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                decision_key:
                  type: string
      responses:
        "201":
          description: Message pinned as a decision.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PinnedDecisionEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /agencies/profile:
    get:
      tags: [Agency]
      operationId: getAgencyProfile
      responses:
        "200":
          description: Current user's casting agency profile, null until created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
    patch:
      tags: [Agency]
      operationId: upsertAgencyProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Casting agency profile upserted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyEnvelope"
  /agency-invitations:
    get:
      tags: [Agency]
      operationId: listAgencyInvitations
      responses:
        "200":
          description: Current agency's talent invitations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyInvitationListEnvelope"
    post:
      tags: [Agency]
      operationId: createAgencyInvitation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Agency invitation created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyInvitationEnvelope"
  /agency-invitations/{invitation_id}/accept:
    post:
      tags: [Agency]
      operationId: acceptAgencyInvitation
      parameters:
        - in: path
          name: invitation_id
          required: true
          schema: {type: string}
      responses:
        "200":
          description: Agency invitation accepted and roster entry created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyInvitationEnvelope"
  /agencies/{agency_id}/talent:
    get:
      tags: [Agency]
      operationId: listAgencyTalent
      parameters:
        - in: path
          name: agency_id
          required: true
          schema: {type: string}
      responses:
        "200":
          description: Current agency's represented talent roster.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
  /auditions:
    get:
      tags: [Agency]
      operationId: listAuditions
      responses:
        "200":
          description: Auditions visible to the current agency or requesting director.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditionListEnvelope"
    post:
      tags: [Agency]
      operationId: createAuditionRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Audition request created for a casting agency.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditionEnvelope"
  /auditions/{audition_id}:
    patch:
      tags: [Agency]
      operationId: updateAuditionRequest
      parameters:
        - in: path
          name: audition_id
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Audition request status updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditionEnvelope"
  /auditions/{audition_id}/candidates:
    post:
      tags: [Agency]
      operationId: addAuditionCandidate
      parameters:
        - in: path
          name: audition_id
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Candidate added to an audition request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditionEnvelope"
  /audition-candidates/{candidate_id}:
    patch:
      tags: [Agency]
      operationId: updateAuditionCandidate
      parameters:
        - in: path
          name: candidate_id
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Audition candidate rank, status, or notes updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
  /self-tapes:
    post:
      tags: [Agency]
      operationId: createSelfTape
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Self-tape submitted for an audition candidate.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
  /audition-candidates/{candidate_id}/notes:
    post:
      tags: [Agency]
      operationId: addSelectionNote
      parameters:
        - in: path
          name: candidate_id
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Selection note added to an audition candidate.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
  /agency-commissions:
    post:
      tags: [Agency]
      operationId: createAgencyCommission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Agency commission record created for a secured booking.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyCommissionEnvelope"
  /agencies/{agency_id}/commissions:
    get:
      tags: [Agency]
      operationId: listAgencyCommissions
      parameters:
        - in: path
          name: agency_id
          required: true
          schema: {type: string}
      responses:
        "200":
          description: Current agency's commission records.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgencyCommissionListEnvelope"
  /brands/profile:
    get:
      tags: [Brand]
      operationId: getBrandProfile
      responses:
        "200":
          description: Current user's brand profile, null until created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
    patch:
      tags: [Brand]
      operationId: upsertBrandProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Brand profile upserted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandProfileEnvelope"
        "403":
          $ref: "#/components/responses/Forbidden"
  /brands/dashboard:
    get:
      tags: [Brand]
      operationId: getBrandProductionDashboard
      responses:
        "200":
          description: Live project, booking, payment and activity dashboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /brands/schedule:
    get:
      tags: [Brand]
      operationId: getBrandProductionSchedule
      parameters:
        - in: query
          name: project_id
          schema:
            type: string
      responses:
        "200":
          description: Project-scoped shoot and booking schedule.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /brands/discovery:
    get:
      tags: [Brand]
      operationId: listBrandDiscovery
      parameters:
        - in: query
          name: category
          schema:
            type: string
        - in: query
          name: q
          schema:
            type: string
      responses:
        "200":
          description: Verified actors, models, crew, locations and equipment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /brands/discovery/{kind}/{public_id}:
    get:
      tags: [Brand]
      operationId: getBrandDiscoveryItem
      parameters:
        - in: path
          name: kind
          required: true
          schema:
            type: string
        - in: path
          name: public_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Detailed verified production-resource profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /brand-opportunities:
    get:
      tags: [Brand]
      operationId: listBrandOpportunities
      security: []
      responses:
        "200":
          description: Published brand opportunities, or the current brand's own opportunities.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandOpportunityListEnvelope"
    post:
      tags: [Brand]
      operationId: createBrandOpportunity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Brand opportunity created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandOpportunityEnvelope"
  /brand-opportunities/{opportunity_id}:
    get:
      tags: [Brand]
      operationId: getBrandOpportunity
      security: []
      parameters:
        - in: path
          name: opportunity_id
          required: true
          schema: {type: string}
      responses:
        "200":
          description: Brand opportunity detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandOpportunityEnvelope"
  /brand-opportunities/{opportunity_id}/applications:
    get:
      tags: [Brand]
      operationId: listBrandApplications
      parameters:
        - in: path
          name: opportunity_id
          required: true
          schema: {type: string}
      responses:
        "200":
          description: Applications for a brand opportunity, brand owner only.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandApplicationListEnvelope"
    post:
      tags: [Brand]
      operationId: createBrandApplication
      parameters:
        - in: path
          name: opportunity_id
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Brand application submitted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandApplicationEnvelope"
  /brand-applications/{application_id}:
    patch:
      tags: [Brand]
      operationId: updateBrandApplication
      parameters:
        - in: path
          name: application_id
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Brand application status updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandApplicationEnvelope"
  /brand-applications/{application_id}/terms:
    post:
      tags: [Brand]
      operationId: createBrandTerm
      parameters:
        - in: path
          name: application_id
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Versioned brand negotiation terms created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandApplicationEnvelope"
  /campaign-deliverables:
    get:
      tags: [Brand]
      operationId: listCampaignDeliverables
      parameters:
        - in: query
          name: opportunity_id
          required: false
          schema: {type: string}
      responses:
        "200":
          description: Campaign deliverables for the current brand or owner.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignDeliverableListEnvelope"
    post:
      tags: [Brand]
      operationId: createCampaignDeliverable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Campaign deliverable created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignDeliverableEnvelope"
  /campaign-deliverables/{deliverable_id}/proof:
    post:
      tags: [Brand]
      operationId: submitCampaignDeliverableProof
      parameters:
        - in: path
          name: deliverable_id
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Campaign deliverable proof submitted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignDeliverableEnvelope"
  /campaign-deliverables/{deliverable_id}/approve:
    post:
      tags: [Brand]
      operationId: approveCampaignDeliverable
      parameters:
        - in: path
          name: deliverable_id
          required: true
          schema: {type: string}
      responses:
        "200":
          description: Campaign deliverable approved by the brand.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignDeliverableEnvelope"
  /campaign-metrics:
    post:
      tags: [Brand]
      operationId: createCampaignMetric
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Campaign performance metric recorded for a deliverable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignDeliverableEnvelope"
  /model/profile:
    get:
      tags: [Model]
      operationId: getModelProfile
      responses:
        "200":
          description: Current user's model extension profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelProfileEnvelope"
    patch:
      tags: [Model]
      operationId: updateModelProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Model profile brand safety notes and visibility updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelProfileEnvelope"
  /model/campaign-categories:
    get:
      tags: [Model]
      operationId: getModelCampaignCategories
      responses:
        "200":
          description: Model campaign category selections.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelProfileEnvelope"
    patch:
      tags: [Model]
      operationId: updateModelCampaignCategories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Model campaign categories replaced.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelProfileEnvelope"
  /model/usage-rights:
    get:
      tags: [Model]
      operationId: listModelUsageRights
      responses:
        "200":
          description: Current model's usage rights.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelUsageRightListEnvelope"
    post:
      tags: [Model]
      operationId: createModelUsageRight
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Model usage right created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelUsageRightEnvelope"
  /model/usage-rights/{usage_right_id}:
    patch:
      tags: [Model]
      operationId: updateModelUsageRight
      parameters:
        - in: path
          name: usage_right_id
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
[...]
